*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 1.6;
color: #333;
}

h1,h2,h3{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
background: #F4EBE1;
color: #2B1B17 ;
position: sticky;
top: 0;
z-index: 1000;
}

header .logo img{
height: 60px;
padding-right: 20px;
}

header ul{
list-style: none;
display: flex;
gap: 20px;
}
header a{
color: #2B1B17;
text-decoration: none;
transition: color 0.3s;
}

header a:hover{
color:#D2B48C ;
}

#hero{
height: 100vh;
background:#D2B48C ;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #F4EBE1;
}

.hero-content{
max-width: 600px ;
}
.hero-content h1{
font-size: 2.5rem;
}
.hero-content p{
margin: 15px 0;
}
.btn{
display: inline-block;
padding: 10px 20px;
background: #F4EBE1;
color: #D2B48C;
text-decoration: none;
border-radius: 5px;
transition: background 0.3s;
}
.btn:hover{
background: #2B1B17;
}
#menu{
padding: 60px 20px;
background: #F4EBE1;
text-align: center;
}
#menu h2{
margin-bottom: 40px;
}
.menu-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
gap: 20px;
}
.menu-item{
background: #F4EBE1;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 5px 15px rgb(0,0,0, 0.1);
transition: transform 0.3s;
}
.menu-item:hover{
transform: translateY(-10px);
}
.menu-item img{
width: 100%;
height: 200px;
object-fit: cover;
}
.menu-item h3{
margin: 15px 0;
}
.menu-item p{
    margin-bottom: 15px;
}
#about {
    padding: 60px 20px;
    width: 100%;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-container img {
    flex: 1;
    width: 50%; 
    max-width: 500px; 
    height: auto;
    border-radius: 10px;
}

.about-text {
    flex: 1; 
    padding: 10px;
}
#contact{
padding: 60px 20px;
background: #F4EBE1;
text-align: center;
}
form{
max-width: 600px;
margin: auto;
display: flex;
flex-direction: column;
gap: 15px;
}
form input,form textarea{
padding: 10px;
border: 1px solid #2B1B17;
border-radius: 5px;
}
form button{
padding: 10px;
background: #D2B48C;
color:#F4EBE1; 
border: none;
border-radius: 5px;
cursor: pointer;
margin-bottom: 15px;
}
form button:hover{
background-color: #2B1B17;
}
footer{
padding: 20px;
background: #D2B48C;
color: #F4EBE1;
text-align: center;
}
footer .socials a{
color: #F4EBE1;
text-decoration: none;
margin: 0 5px;
}
footer .socials a:hover{
text-decoration: underline;
}

@media(max-width: 768px){
header{
flex-direction: column;
}
.about-container{
flex-direction: column;
}

}